(
    drill_size: 0.3,
    drill_speed: 2.5,
    drill_acceleration: 3.0,
    map_width: 5.0,

    minerals: {
        Rock: [],
        Iron: [
            (
                range: (-10, -3),
                density: 0.3,
            ),
        ],
        Bronze: [
            (
                range: (-8, -4),
                density: 0.1,
            ),
            (
                range: (-15, -8),
                density: 0.3,
            ),
        ],
    },
)
